:root {
    --warmColor: #fb8500;
    --lightBlue: #8ecae6;
    --darkBlue: #023047;
    --mediumBlue: #219ebc;
    --yellow: #ffb703;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, 'Franklin Gothic Medium', 'Arial Narrow';
}

li {
    list-style: none;
}

body {    
    height: 100vh;
}

.header-custom {
    background-color: var(--yellow);
}

.main-card {
    background-color: var(--darkBlue);
    color: white;
}

.day-card {
    background-color: var(--darkBlue);
    min-height: 200px;
}

.fiveDays {
    color:white;
}

#searchBtn:hover {
    background-color: var(--darkBlue);
    font-weight: 400;
    color: white
}